
html{
    box-sizing: border-box;
}

* , *::after , *::before {
    box-sizing: inherit;
} 


body{ 
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: toRem($font);
    font-size: 100%;
    font-family: 'Barlow', sans-serif;
    overflow: auto;
}