
html{
    box-sizing: border-box;
    font-size: toRem(18);

}

* , *::after , *::before {
    box-sizing: inherit;
} 


body{ 
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-weight: $barlow;
    font-size: toRem($font);
    line-height: 1.5;
    font-family: 'Barlow', sans-serif;
    overflow: auto;
}


a{
    color: white;
    text-decoration: none;       
}