@import "variables";
@import "global";

.flex{
    display: flex;

    &-jc{justify-content: center;}
    &-ac{align-items: center;}
    &-cl{flex-direction: column;}
}

.main{
    width: 100%;
    height: 100vh;
    background: url("../../images/desktop/image-header.jpg") center no-repeat;
    background-size: cover;
    color: $white;
    .header{
        justify-content: space-between;
        padding: 2rem 4rem;
    }

    .links{
        .link{
            margin-top: 0;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 0;
        }
        #contact{
            font-size: 13px;
            text-transform: uppercase;
            border-radius: 3rem;
            padding: 1em 2em;
            color: $dark_blue;
            font-family: "Fraunces";
            background-color: $white;
            transition: 0.4s;
            box-shadow: 0 0 0.5rem $grayish_blue;

            &:hover{
                color: white;
                background-color:rgba(255, 255, 255, 0.08);
                box-shadow: 0 0 0.3rem rgba(170, 170, 170, 0.172);

            }
        }
    }

    .title{
        font-family: "Fraunces";
        padding-top: 5rem ;
        text-transform: uppercase;
        text-align: center;
        font-weight: $fraunces_bolder;
        font-size: toRem(30);
        letter-spacing: 10px;

    }




}