@import "variables";
@import "global";

.flex{
    display: flex;

    &-jc{justify-content: center;}
    &-ac{align-items: center;}
    &-cl{flex-direction: column;}
}

.open{
    display: none;
}
.main{
    width: 100%;
    height: 100vh;
    background: url("../../images/desktop/image-header.jpg") center no-repeat;
    background-size: cover;
    color: $white;
    .header{
        justify-content: space-between;
        padding: 2rem 4rem;
    }

    .links{
        .link{
            margin: 0 2rem;
        }
        #contact{
            font-size: 13px;
            text-transform: uppercase;
            border-radius: 3rem;
            padding: 1em 2em;
            color: $dark_blue;
            font-family: "Fraunces";
            background-color: $white;
            transition: 0.4s;

            &:hover{
                color: white;
                background-color:rgba(199, 248, 253, 0.426);

            }
        }
    }

    .title{
        font-family: "Fraunces";
        padding-top: 5rem ;
        text-transform: uppercase;
        text-align: center;
        font-weight: $fraunces_bolder;
        font-size: toRem(45);
        letter-spacing: 10px;
    }






}

.content{
    width: 100%;

    .reversed{
        flex-direction: row-reverse;
    }
    .card{
        width: 100%;        
        picture{
            width:50%;

            img{
                width:100%;
                height:100%;
            }
        }
    }


    &__title{
        font-size: toRem(53);
        font-family: $fran;
    }


    &__text{
        color: $dark_grayish_blue ;
        line-height: 1.5;
        margin: 3rem 0;
        font-size: toRem(23) ;
    }

    a{
        color: $dark_blue;
        font-family: $fran;
        font-weight: $fraunces_bolder;
        text-transform: uppercase;
    }

    a:before{
        position: absolute;
        background-color: red;
        width: 140px;
        margin-top:15px;
        margin-left: -5px;
        border-radius: 10px;
        opacity: 0.2;
        content: "";
        height: 10px;
    }

    #yellow:before{
        background-color: $yellow;
    }


    .section{
        width:50%;
        padding: 10rem 10rem 10rem 13rem;
        background-color: $card_color;
    }

    .left{
        line-height: 1.5;
        position: relative;
        width: 50%;
        height: auto;
        img{
            width: 100%;
            height: 100%;
            display: block;
        }
        .inpic{
            
            position: absolute;
            width: 47%;
            text-align: center;
            left: 50%;
            transform: translate(-50%);
            bottom: 4rem;
            font-size: toRem(21);
            color: $dark_desaturated;
        }
    }
    &__subtitle{
        font-size: toRem(28);
        font-family: $fran;
        font-weight: $fraunces_bolder;
    }
    .right{
        .inpic{
            color: $dark_blue;
        }
    }
}





.testimonial{
    width: 100%;
    background-color: $card_color;
    

    .clients{
        padding: 12em 0
    }


    &__title{
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $grayish_blue;
        font-size: toRem(24);
        font-family: "Fraunces";
        font-weight: $fraunces_bolder;
    }

    .review{
        width: 18.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0em 2em 0 2em ;

        .name{
            font-weight: $fraunces_bolder;
        }

        .field{
            color: $grayish_blue;
            font-size: toRem(13);
        }

        p{
            color: $dark_desaturated;
            font-weight: $barlow;
            font-size:toRem(18);
            line-height: 1.5;
        }

    }

    .review>*{
        margin-top: 2em;
    }

    .name{
        font-family: "Fraunces";
        font-size: toRem(20);
        color: $dark_blue;
        margin-bottom: toRem(10);
    }


    .profile{
        transform: scale(0.6);
        border-radius: 50%;
    }
}

.pictures{
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    .img{
        background-size: cover;
        flex: 100%;
    }

}

.footer{
    background-color:hsla(168, 32%, 55%, 0.583);
    padding: 4rem 0rem 6rem 0rem;
    .icon{
        width:200px ;
        height: 100px;
        fill: $dark_moderate;
    }
    .link{
        color:$dark_moderate;
        margin: 0 1.5rem 0 1.5rem;
        font-size: toRem(12);
    }

    .socials>*{
        padding-top:1rem ;
        margin: 0 1rem 0 1rem;
    }

    .attribution{
        padding-bottom: 0;
    }
}


.footer>*{
    padding-top: 2rem;
}



@media only screen and (max-width:900px){

    .open{
        display: block;
    }

    .main{
        position: relative;
        .header{
            padding: 1em 1em  ;
        }
        .display{
            visibility: hidden;
            opacity: 0;
        }
        .links{
            transition: 0.4s;
            margin: auto;
            position: absolute;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $card_color;
            width: 90%;
            left: 5%;
            top: 10%;

            .link{
                color: $dark_grayish_blue;
                margin: 1em 0;
    
                
            }

            #contact{
                background-color: $yellow;
                margin: 1rem 0 1.5em;
            }
        }

      


    }


    article{
        flex-direction: column;
    }
    .main .title{
        font-size: toRem(16);
    }
    .content h1{
        font-size: toRem(35);
    }
    .content{
        .card {
            picture{
                width: 100%;
            }
        }

        .section{
            width: 100%;
            padding:2em 0em;
            .info{
                width: 80%;
                margin: auto;
            }
        }

        &__text{
            font-size: toRem(16);
        }
    }
    .content .section #berries #orange{
        flex: 100%;
    }
    .content {
        .reversed{flex-direction: column;}
        .left{
            width: 100%;
            .inpic{
                font-size: 80%;
                bottom: 2em;
                line-height: 1.5;
                left: 50%;
                transform: translate(-50%);
                width: 90%;
            }
        }
    }
    .pictures{
        grid-template-columns: 50% 50%;
    }

    .testimonial{
        
        &__title{
            font-size: toRem(15);
            letter-spacing: 3px;
        }

        .clients{
            font-size: 50%;
            padding: 8em 0;
        
        }
    }
    .reviews{
        flex-direction: column;
        align-items: center;
        .clients{
            padding: 5em 2em;
        }
        .review{
            width: 80%;

        }
    }

}