@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-weight: 600;
  font-size: 100%;
  font-size: 1.125rem;
  font-family: 'Barlow', sans-serif;
  overflow: auto;
}

a {
  color: white;
  text-decoration: none;
}

source {
  height: 11%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-cl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.open {
  display: none;
}

.main {
  width: 100%;
  height: 100vh;
  background: url("../../images/desktop/image-header.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

.main .header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 4rem;
}

.main .links .link {
  margin: 0 2rem;
}

.main .links #contact {
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 3rem;
  padding: 1em 2em;
  color: #19536b;
  font-family: "Fraunces";
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main .links #contact:hover {
  color: white;
  background-color: rgba(199, 248, 253, 0.426);
}

.main .title {
  font-family: "Fraunces";
  padding-top: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 2.8125rem;
  letter-spacing: 10px;
}

.content {
  width: 100%;
}

.content .reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content .card {
  width: 100%;
}

.content .card picture {
  width: 50%;
}

.content .card picture img {
  width: 100%;
  height: 100%;
}

.content__title {
  font-size: 3.3125rem;
  font-family: "Fraunces";
}

.content__text {
  color: #818498;
  line-height: 1.5;
  margin: 3rem 0;
  font-size: 1.4375rem;
}

.content a {
  color: #19536b;
  font-family: "Fraunces";
  font-weight: 900;
  text-transform: uppercase;
}

.content a:before {
  position: absolute;
  background-color: red;
  width: 140px;
  margin-top: 15px;
  margin-left: -5px;
  border-radius: 10px;
  opacity: 0.2;
  content: "";
  height: 10px;
}

.content #yellow:before {
  background-color: #fad400;
}

.content .section {
  width: 50%;
  padding: 10rem 10rem 10rem 13rem;
  background-color: #fffbf8;
}

.content .left {
  line-height: 1.5;
  position: relative;
  width: 50%;
  height: auto;
}

.content .left img {
  width: 100%;
  height: 100%;
  display: block;
}

.content .left .inpic {
  position: absolute;
  width: 47%;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 4rem;
  font-size: 1.3125rem;
  color: #25564b;
}

.content__subtitle {
  font-size: 1.75rem;
  font-family: "Fraunces";
  font-weight: 900;
}

.content .right .inpic {
  color: #19536b;
}

.testimonial {
  width: 100%;
  background-color: #fffbf8;
}

.testimonial .clients {
  padding: 12em 0;
}

.testimonial__title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #a7abae;
  font-size: 1.5rem;
  font-family: "Fraunces";
  font-weight: 900;
}

.testimonial .review {
  width: 18.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0em 2em 0 2em;
}

.testimonial .review .name {
  font-weight: 900;
}

.testimonial .review .field {
  color: #a7abae;
  font-size: 0.8125rem;
}

.testimonial .review p {
  color: #25564b;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
}

.testimonial .review > * {
  margin-top: 2em;
}

.testimonial .name {
  font-family: "Fraunces";
  font-size: 1.25rem;
  color: #19536b;
  margin-bottom: 0.625rem;
}

.testimonial .profile {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  border-radius: 50%;
}

.pictures {
  width: 100%;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

.pictures .img {
  background-size: cover;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.footer {
  background-color: rgba(104, 177, 162, 0.583);
  padding: 4rem 0rem 6rem 0rem;
}

.footer .icon {
  width: 200px;
  height: 100px;
  fill: #458c7e;
}

.footer .link {
  color: #458c7e;
  margin: 0 1.5rem 0 1.5rem;
  font-size: 0.75rem;
}

.footer .socials > * {
  padding-top: 1rem;
  margin: 0 1rem 0 1rem;
}

.footer .attribution {
  padding-bottom: 0;
}

.footer > * {
  padding-top: 2rem;
}

@media only screen and (max-width: 900px) {
  .open {
    display: block;
  }
  .main {
    position: relative;
  }
  .main .header {
    padding: 1em 1em;
  }
  .main .display {
    visibility: hidden;
    opacity: 0;
  }
  .main .links {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin: auto;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fffbf8;
    width: 90%;
    left: 5%;
    top: 10%;
  }
  .main .links .link {
    color: #818498;
    margin: 1em 0;
  }
  .main .links #contact {
    background-color: #fad400;
    margin: 1rem 0 1.5em;
  }
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .title {
    font-size: 1rem;
  }
  .content h1 {
    font-size: 2.1875rem;
  }
  .content .card picture {
    width: 100%;
  }
  .content .section {
    width: 100%;
    padding: 2em 0em;
  }
  .content .section .info {
    width: 80%;
    margin: auto;
  }
  .content__text {
    font-size: 1rem;
  }
  .content .section #berries #orange {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .content .reversed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .left {
    width: 100%;
  }
  .content .left .inpic {
    font-size: 80%;
    bottom: 2em;
    line-height: 1.5;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 90%;
  }
  .pictures {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .testimonial__title {
    font-size: 0.9375rem;
    letter-spacing: 3px;
  }
  .testimonial .clients {
    font-size: 50%;
    padding: 8em 0;
  }
  .reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews .clients {
    padding: 5em 2em;
  }
  .reviews .review {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */