@import "variables";
@import "global";

.flex{
    display: flex;

    &-jc{justify-content: center;}
    &-ac{align-items: center;}
    &-cl{flex-direction: column;}
}

.main{
    width: 100%;
    height: 100vh;
    background: url("../../images/desktop/image-header.jpg") center no-repeat;
    background-size: cover;
    color: $white;
    .header{
        justify-content: space-between;
        padding: 2rem 4rem;
    }

    .links{
        .link{
            margin-top: 0;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 0;
        }
        #contact{
            font-size: 13px;
            text-transform: uppercase;
            border-radius: 3rem;
            padding: 1em 2em;
            color: $dark_blue;
            font-family: "Fraunces";
            background-color: $white;
            transition: 0.4s;
            box-shadow: 0 0 0.5rem $grayish_blue;

            &:hover{
                color: white;
                background-color:rgba(255, 255, 255, 0.08);
                box-shadow: 0 0 0.3rem rgba(170, 170, 170, 0.172);

            }
        }
    }

    .title{
        font-family: "Fraunces";
        padding-top: 5rem ;
        text-transform: uppercase;
        text-align: center;
        font-weight: $fraunces_bolder;
        font-size: toRem(30);
        letter-spacing: 10px;

    }




}


.content{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 50% 50%;
    color: $dark_blue;

    h1{
        font-family: "Fraunces";
        font-weight: $fraunces_bolder;
        font-size: toRem(36);
    }

    a{
        color: $dark_blue;
        font-family: "Fraunces";
        text-transform: uppercase;
        font-size: $fraunces_bolder;
    }

    .section{
        background-color:  $card_color;
        padding: 6em 4em;
        text-align: left;
        flex: 50%;


        .info{
            margin: auto;
            width: 70%;
        }
    }

    &__text{
        color:$dark_grayish_blue;
        font-weight: 100;
        padding-bottom: 2em;
    }

    #egg{
        order: 1;
        background: url("./../../images/desktop/image-transform.jpg") repeat center;         
        background-size: cover;
        min-height: 600px;

    }

    #glass{
        order: 3;

        background: url("./../../images/desktop/image-stand-out.jpg") no-repeat;
        background-size: cover;
        min-height: 600px;

    }
    
    #orange{
        order: 6;

        background: url("./../../images/desktop/image-photography.jpg")  repeat;
        background-size: cover;
        min-height: 600px;

    }
    
    #berries{
        order: 5;

        background: url("./../../images/desktop/image-graphic-design.jpg") repeat ;
        background-size: cover;
        min-height: 600px;

    }

}


.testimonial{
    width: 100%;
    background-color: $card_color;


    .clients{
        padding: 6em 0 6em 0
    }
    &__title{
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $grayish_blue;
        font-family: "Fraunces";
        font-weight: $fraunces_bolder;
    }

    .review{
        width: 19%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0em 1em 0 1em ;

        .name{
            font-weight: $fraunces_bolder;
        }

        .field{
            color: $grayish_blue;
            font-size: toRem(10);
        }

        p{
            color: $dark_grayish_blue;
            font-weight: $barlow;
        }

    }

    .review>*{
        margin-top: 2em;
    }

    .name{
        font-family: "Fraunces";
        font-size: toRem(15);
        color: $dark_blue;
        margin-bottom: toRem(10);
    }


    .profile{
        transform: scale(0.6);
        border-radius: 50%;
    }
}

.pictures{
    width: 100%;
    height: 500px;
    display: flex;

    .img{
        background-size: cover;
        width: 25%;
    }
}

.footer{
    background-color:hsla(168, 32%, 55%, 0.583);
    padding: 4rem 0rem 6rem 0rem;
    .icon{
        fill: $dark_moderate;
    }
    .link{
        color:$dark_moderate;
        margin: 0 1.5rem 0 1.5rem;
        font-size: toRem(12);
    }

    .socials>*{
        padding-top:1rem ;
        margin: 0 1rem 0 1rem;
    }

    .attribution{
        padding-bottom: 0;
    }
}


.footer>*{
    padding-top: 2rem;
}