@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-weight: 600;
  font-size: 100%;
  line-height: 1.5;
  font-family: 'Barlow', sans-serif;
  overflow: auto;
}

a {
  color: white;
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ac {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-cl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  width: 100%;
  height: 100vh;
  background: url("../../images/desktop/image-header.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

.main .header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 4rem;
}

.main .links .link {
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
}

.main .links #contact {
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 3rem;
  padding: 1em 2em;
  color: #19536b;
  font-family: "Fraunces";
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 0.5rem #a7abae;
          box-shadow: 0 0 0.5rem #a7abae;
}

.main .links #contact:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: 0 0 0.3rem rgba(170, 170, 170, 0.172);
          box-shadow: 0 0 0.3rem rgba(170, 170, 170, 0.172);
}

.main .title {
  font-family: "Fraunces";
  padding-top: 5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 1.875rem;
  letter-spacing: 10px;
}

.testimonial {
  width: 100%;
  background-color: #fffbf8;
}

.testimonial .clients {
  padding: 6em 0 6em 0;
}

.testimonial__title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #a7abae;
  font-family: "Fraunces";
  font-weight: 900;
}

.testimonial .review {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0em 1em 0 1em;
}

.testimonial .review .name {
  font-weight: 900;
}

.testimonial .review .field {
  color: #a7abae;
  font-size: 0.625rem;
}

.testimonial .review p {
  color: #818498;
  font-weight: 600;
  font-size: 0.8125rem;
}

.testimonial .review > * {
  margin-top: 2em;
}

.testimonial .name {
  font-family: "Fraunces";
  font-size: 0.9375rem;
  color: #19536b;
  margin-bottom: 0.625rem;
}

.testimonial .profile {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  border-radius: 50%;
}

.pictures {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pictures .img {
  background-size: cover;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

.footer {
  background-color: rgba(104, 177, 162, 0.583);
  padding: 4rem 0rem 6rem 0rem;
}

.footer .icon {
  fill: #458c7e;
}

.footer .link {
  color: #458c7e;
  margin: 0 1.5rem 0 1.5rem;
  font-size: 0.75rem;
}

.footer .socials > * {
  padding-top: 1rem;
  margin: 0 1rem 0 1rem;
}

.footer .attribution {
  padding-bottom: 0;
}

.footer > * {
  padding-top: 2rem;
}

@media (max-width: 900px) {
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .title {
    font-size: 1.25rem;
  }
  .content h1 {
    font-size: 2.1875rem;
  }
  .content .section {
    padding: 2em 0em;
  }
  .content .section .info {
    width: 80%;
  }
  .content__text {
    font-size: 1rem;
  }
  .content .section #berries #orange {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .content .reversed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pictures img {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .reviews .review {
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */